<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <clear/>
      <add name="RESTPostHandler" path="*/*" verb="*" type="Cronom.Demo.HttpHandlerCore.PostHandler, Cronom.Demo.HttpHandlerCore" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>

</configuration>
